[botconfig]
guildid=1045433182822072390
databasename="BotDB.db"
announcementchannelid=1045449645876334724
administratordiscordid=842006985045180447
admindiscordrolename=pmbadmins
botchannelid=1045440513723093032
queuedrolename="Queued"
removedrolename="Removed"
commandprefix=\
configured=TRUE
botnotificationschannelid=1045440513723093032
bottoken=MTA0NTQzNTMyMjkxMTE3ODgzMg.GeFIkp.8St5U2-PLNrnZDIMsF_bWten3xA0MFf6Ifungs